<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<meta name="theme-color" content="#151B54" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#151B54" media="(prefers-color-scheme: dark)">

    <title>{{page.pageTitle}}</title>
    {{{headMetaTags}}}

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
		<link href="{{scRoot}}/icons/fa/4.7/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{scRoot}}/libs/js/highlightjs/styles/atom-one-light.css" rel="stylesheet">
    <link href="{{scRoot}}/libs/js/fancybox/3/jquery.fancybox.min.css" rel="stylesheet">
    <link href="{{dsRoot}}/{{serverInfo.templateStylePath}}/{{serverInfo.look}}-web.css?v={{serverInfo.lookVersion.web}}" rel="stylesheet">
    {{#page.params.recaptcha-v3-site-key}}<script src='https://www.google.com/recaptcha/api.js?render={{page.params.recaptcha-v3-site-key}}'></script>{{/page.params.recaptcha-v3-site-key}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Playfair Display (nadpisy). Poppins se načítá z /att/ ve style.less.
         Až budeš chtít pryč od CDN, nahraj Playfair do Shipardu stejně
         jako Poppins a nahraď to @font-face pravidlem. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,800&display=swap" rel="stylesheet">

    <link href="{{templateRoot}}/old_style.css?ver=4" rel="stylesheet">
    <link href="{{templateRoot}}/style.css?ver=46" rel="stylesheet">
		{{#page.params.almanachPage}}
				<link href="{{templateRoot}}/almanach_style.css?ver=8" rel="stylesheet">
				<script src="https://unpkg.com/scrollreveal"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js"></script>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css"
        />
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.umd.js"></script>

		{{/page.params.almanachPage}}

		{{#page.params.smycec}}
			<style>
				body{
        
          background: rgb(255,241,240);
					background: linear-gradient(146deg, rgba(255,241,240,1) 0%, rgba(252,247,247,1) 100%);
          color: #730E27 !important;
          
        }

				.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6, li a{
          color: #730E27 !important;
        }
			</style>
		{{/page.params.smycec}}
		

		<!-- Cookies -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.0/dist/cookieconsent.css">


		<script src="{{templateRoot}}/script.js"></script>


</head>



<body{{page.bodyEditParams}} class="{{page.bodyClasses}}{{#serverInfo.templateParams.topMenuFixedTop}} top-menu-fixed-top{{/serverInfo.templateParams.topMenuFixedTop}}">

{{#page.params.smycec}}
<header>
    <nav class="navbar navbar-expand-lg top-menu-tabs">
        <div class="container">
            <a class="navbar-brand" href="/liptalskysmycec">
								<img src="/att/2024/11/24/e10.web.pages/3-16m2hmk.svg" alt="Logo" style="width: 80px; padding-right: 10px"><img src="/att/2026/03/13/e10.base.templates/LS-y8i06y.png" style="width: 160px">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex-column align-items-end ms-lg-0" id="navbarScroll">
                <ul class="navbar-nav flex-row menu-top-contacts">
                    <li class="nav-item">
                        <a class="nav-link py-0 ps-3" href="https://zusmorava.cz" title="Společnost přátel ZUŠ Morava">
                            <i class="fa fa-music"></i> ZUŠ Morava
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 ps-3" href="https://www.facebook.com/profile.php?id=61583406890245" target="_blank" title="Facebook ZUŠ Morava">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 ps-3" href="https://www.instagram.com/zusmorava/" target="_blank" title="Instagram ZUŠ Morava">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav mt-1">
                    <li class="nav-item">
                        <a class="nav-link" href="/liptalskysmycec">Domů</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liptalskysmycec/pravidla">Pravidla</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liptalskysmycec/harmonogram">Harmonogram</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liptalskysmycec/ceny">Ceny</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liptalskysmycec/porota">Porota</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liptalskysmycec/vysledky">Výsledky</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liptalskysmycec/kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{{/page.params.smycec}}


{{^page.params.almanachPage}}
{{^page.params.smycec}}

<!--<div class="text-white py-2 " style="background: linear-gradient(to bottom, #87569D, #DB75D6);">
  <div class="container text-center d-flex flex-column flex-md-row align-items-center justify-content-center gap-2">
    <a href="https://spolek.zusmorava.cz/aktuality/35" class="text-white">
			Letní múzický tábor je zpět! Hudba, tanec, divadlo, výtvarka a spousta zábavy pro děti 6–17 let. Přihlaš se ještě dnes!</a>
  </div>
</div>-->

<header>
    <nav class="navbar navbar-expand-lg top-menu-tabs">
        <div class="container">
            <a class="navbar-brand" href="/">
								<img src="/att/2026/07/27/e10.base.templates/zusmorava_2101ynw-1gihm3q.svg" alt="ZUŠ Morava">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex-column align-items-end ms-lg-0" id="navbarScroll">
                <ul class="navbar-nav flex-row menu-top-contacts">
                    <li class="nav-item menu-teacher-login">
                        <a class="nav-link py-0 ps-3" href="https://zus-morava.shipard.app" rel="nofollow" title="Vstup pro učitele">
                            <i class="fa fa-sign-in"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 ps-3" href="https://spolek.zusmorava.cz" title="Společnost přátel ZUŠ Morava">
                            <i class="fa fa-users"></i> Společnost přátel
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 ps-3" href="https://ezk.zusmorava.cz" title="Elektronická žákovská knížka">
                            <i class="fa fa-book"></i> EŽK
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 ps-3" href="https://www.facebook.com/zusmorava/" target="_blank" title="Facebook ZUŠ Morava">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 ps-3" href="https://www.youtube.com/channel/UCpN6CL4G1X9qcipCf-WZeuA/videos" target="_blank" title="YouTube ZUŠ Morava">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 ps-3" href="https://www.instagram.com/zusmorava/" target="_blank" title="Instagram ZUŠ Morava">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav mt-1">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Domů</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            O škole
                        </a>
                        <ul class="dropdown-menu rounded shadow-sm animate slideIn" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="/oskole">O škole</a></li>
                            <li><a class="dropdown-item" href="/kontakty">Kontakty</a></li>
                            <!--<li><a class="dropdown-item" href="#">Studium</a></li>-->
                            <li><a class="dropdown-item" href="/prihlaska">Přihláška</a></li>
                            <li><a class="dropdown-item" href="/dokumenty">Dokumenty</a></li>
                            <li><a class="dropdown-item" href="/vystavy">Online výstavy</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pro uchazeče
                        </a>
                        <ul class="dropdown-menu rounded shadow-sm animate slideIn" aria-labelledby="navbarDropdown2">
                            <li><a class="dropdown-item" href="/hudebniobor">Hudební obor</a></li>
                            <li><a class="dropdown-item" href="/vytvarnyobor">Výtvarný obor</a></li>
                            <li><a class="dropdown-item" href="/litdramobor">Literárně-dramatický obor</a></li>
                            <!--<li><a class="dropdown-item" href="/zapiszari">Zápis žáků</a></li>-->
                            <li><a class="dropdown-item" href="/prihlaska">Přihláška</a></li>
                            <li><a class="dropdown-item" href="/skolne">Školné</a></li>
                            <li><a class="dropdown-item" href="/vystavy">Online výstavy</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pro žáky a rodiče
                        </a>
                        <ul class="dropdown-menu rounded shadow-sm animate slideIn" aria-labelledby="navbarDropdown3">
                            <li><a class="dropdown-item" href="https://ezk.zusmorava.cz/">Elektronická žákovská knížka</a></li>
                            <li><a class="dropdown-item" href="/zapiszari">Zápis žáků</a></li>
                            <li><a class="dropdown-item" href="/prihlaska">Přihláška</a></li>
                            <li><a class="dropdown-item" href="/skolne">Školné</a></li>
                            <li><a class="dropdown-item" href="/att/2023/11/04/e10.web.pages/Zadost-o-ukonceni-studia-1otbokj.pdf">Žádost o ukončení studia</a></li>
                            <li><a class="dropdown-item" href="/organizaceroku">Organizace školního roku</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pracoviste">Pracoviště</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/soubory">Soubory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liptalskysmycec">Liptálský smyčec</a>
                    </li>
                    <li class="nav-item">
                        <a href="/prihlaska" class="nav-link nav-cta">Přihláška</a>
                    </li>
                    <!--<li class="nav-item">
                        <a href="/liptalskysmycec" class="btn btn-primary nav-link rounded-2 border-0" >
                            Liptálský smyčec
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="https://ezk.zusmorava.cz/" class="btn btn-primary nav-link" style="border-radius: 0;">
                            <i class="fa fa-book"></i> El. žákovská knížka
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</header>


{{/page.params.smycec}}
{{/page.params.almanachPage}}

<!--ALMANACH-->
{{#page.params.almanachPage}}
<div class="fixed-top" style="/* From https://css.glass */
background: rgba(255, 255, 255, 0.7);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(8.4px);
-webkit-backdrop-filter: blur(8.9px);
border: 1px solid rgba(255, 255, 255, 0.32);">
<header class="container pt-0">
    <nav class="navbar navbar-expand-lg top-menu-tabs">
        <a class="navbar-brand p-2" href="/"><img style="width:75px" src="/att/2023/08/23/e10.base.templates/VAR3-1uhc9oa.svg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column align-items-end ml-lg-0 ml-" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://zusmorava.cz/almanach#">Úvod</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://zusmorava.cz/almanach#bylijsme">Byli jsme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://zusmorava.cz/almanach#pobocky">Pobočky</a>
                </li>
								<li class="nav-item">
										<a href="https://zusmorava.cz/almanach#zaci" class="nav-link">Žáci</a>
								</li>
								<li class="nav-item">
										<a href="https://zusmorava.cz/almanach#uspechy" class="nav-link">Vystoupení</a>
								</li>
								<li class="nav-item">
										<a href="https://zusmorava.cz/almanach#soubory" class="nav-link">Úspěchy</a>
								</li>
								<li class="nav-item">
										<a href="https://zusmorava.cz/almanach#ucitele" class="nav-link">Učitelé</a>
								</li>
								<li class="nav-item">
										<a href="https://zusmorava.cz/almanach#abudeme" class="nav-link">Budeme</a>
								</li>
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/zusmorava/" target="_new" title="Facebook ZUŠ Morava"><i class="fa fa-facebook-square"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/channel/UCpN6CL4G1X9qcipCf-WZeuA/videos" target="_new" title="YouTube ZUŠ Morava"><i class="fa fa-youtube-play"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/zusmorava/" target="_new" title="Instagram ZUŠ Morava"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </nav>
</header>
</div>
{{/page.params.almanachPage}}

{{#page.params.myMain}}
{{{pageText}}}
{{/page.params.myMain}}
{{^page.params.myMain}}
{{^page.params.almanachPage}}<div id="c-main" class="container{{#page.params.homePage}} has-hero{{/page.params.homePage}}">{{/page.params.almanachPage}}
    {{#page.params.myLayout}}
    {{{pageText}}}
    {{/page.params.myLayout}}
    {{^page.params.myLayout}}

    {{#page.params.homePage}}
    <!-- Karusel na úvodní stránce.
         Vlastnosti položek: _2a = plakát, _28 = video, _23/_24 = štítek,
         _22 = popisek, _25 = zobrazit tlačítko, _26 = text, _27 = odkaz. -->
    <div class="hero hero-intro carousel slide" id="heroCarousel" data-bs-ride="carousel" data-bs-interval="7000" data-bs-pause="hover">
        <div class="hero-lines"></div>

        <div class="carousel-inner hero-items">
            {{#!webBlocks.kolotoc.items}}
              <div class="carousel-item">
                <div class="hero-grid">

                  <div class="hero-content">
                    {{#properties.bd2gq4ckw_23}}
                      <div class="section-label">{{{properties.bd2gq4ckw_24.value}}}</div>
                    {{/properties.bd2gq4ckw_23}}

                    {{! Tři závorky schválně: v názvu slidu smí být <em>slovo</em>,
                        které se vysází kurzívou v akcentní barvě. }}
                    {{#title}}
                      <h1 class="hero-title">{{{title}}}</h1>
                    {{/title}}

                    <div class="hero-subtitle">{{{properties.bd2gq4ckw_22.value}}}</div>

                    <div class="hero-actions">
                      {{#properties.bd2gq4ckw_25}}
                        <a href="{{{properties.bd2gq4ckw_27.value}}}" class="btn btn-primary">{{{properties.bd2gq4ckw_26.value}}}</a>
                      {{/properties.bd2gq4ckw_25}}
                    </div>
                  </div>

                  <div class="hero-visual">
                    <div class="hero-poster">
                      {{#properties.bd2gq4ckw_28}}
                        <video src="{{properties.bd2gq4ckw_28.value}}" autoplay loop muted playsinline></video>
                      {{/properties.bd2gq4ckw_28}}
                      {{^properties.bd2gq4ckw_28}}
                        <img src="{{serverRoot}}/att/{{pictureUrl}}" alt="{{title}}">
                      {{/properties.bd2gq4ckw_28}}
                    </div>
                  </div>

                </div>
              </div>
            {{/!webBlocks.kolotoc.items}}
        </div>

        <div class="hero-nav">
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide="prev" aria-label="Předchozí">
                <i class="fa fa-angle-left"></i>
            </button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide="next" aria-label="Další">
                <i class="fa fa-angle-right"></i>
            </button>
        </div>
    </div>
    {{/page.params.homePage}}

    {{#page.params.almanachCover}}
<!-- Býval to karusel o jednom snímku, takže z něj zbyl obyčejný blok. -->
<div class="container" style="margin-top:100px">
  <div class="almanach-cover mb-5">
    <video src="/att/2024/03/09/e10.web.pages/ZUS20_VideoKolotoc-1po47py.mp4" autoplay loop muted playsinline></video>
    <div class="almanach-cover-inner text-center">
      <h1><span style="color: #151B54">20 let žijeme uměním</span></h1>
      <img style="width: 100px;" src="/att/2023/08/23/e10.base.templates/VAR3-1uhc9oa.svg" class="p-2">
      <img src="/att/2024/03/21/e10.base.templates/zlin_black-18e8eyb.png" style="width: 100px" class="p-2">
      <img src="/att/2024/03/21/e10.base.templates/Logo-Zli-nsky-kraj-SVG-c-erne--1se7hv7.svg" style="width: 180px">
      <img src="/att/2024/03/21/e10.base.templates/MSMT_logo_bez_textu_black-1y9p87i.svg" style="width: 80px" class="p-2">
      <img src="/att/2024/03/21/e10.base.templates/SSSCMS-1l83vfb.png" style="width: 150px" class="p-2">
    </div>
  </div>
</div>
    {{/page.params.almanachCover}}

    <div class="row">
        {{#page.layoutSidebarNone}}
        <main class="e10w-top-element col-sm-12 e10w-content{{page.mainTextClass}}">
            {{{pageText}}}
        </main>
        {{/page.layoutSidebarNone}}
        {{#page.layoutSidebarLeft}}
        <div class="e10w-top-element sidebar left e10w-sb-start col-md-3 col-lg-3 e10-text">{{{textLeftSidebar}}}</div>
        <main class="e10w-top-element col-md-9 main-text pageText e10w-content col-lg-9 {{page.mainTextClass}}">{{{pageText}}}</main>
        {{/page.layoutSidebarLeft}}
        {{#page.layoutSidebarRight}}
        <main class="e10w-top-element col-lg-9 main-text pageText e10w-content {{page.mainTextClass}}">{{{pageText}}}</main>
        <div class="e10w-top-element sidebar right e10w-sb-end col-lg-3">{{{textRightSidebar}}}</div>
        {{/page.layoutSidebarRight}}
        {{#page.layoutSidebarBoth}}
        <div class="e10w-top-element sidebar left e10w-sb-start col-lg-3">{{{textLeftSidebar}}}</div>
        <main class="e10w-top-element col-lg-6 main-text pageText e10w-content {{page.mainTextClass}}">{{{pageText}}}</main>
        <div class="e10w-top-element sidebar right e10w-sb-end col-lg-3">{{{textRightSidebar}}}</div>
        {{/page.layoutSidebarBoth}}
    </div>
    {{/page.params.myLayout}}

{{^page.params.almanachPage}}</div>{{/page.params.almanachPage}}
{{/page.params.myMain}}

		{{#page.footerFull}}{{{page.footerFull}}}{{/page.footerFull}}
		{{^page.footerFull}}
		{{/page.footerFull}}


<script type="text/javascript">var httpApiRootPath = '{{urlRoot}}'; var httpServerRootPath = '{{urlServer}}';</script>
{{#userAuthenticated}}
<script src="{{dsRoot}}/e10-modules/e10/server/js/e10web.js?ver=22"></script>
{{/userAuthenticated}}

<script>var googleMapsApiKey='{{serverInfo.gmApiKey}}';</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{scRoot}}/libs/js/highlightjs/highlight.pack.js"></script>
<script type="text/javascript" src="{{scRoot}}/libs/js/fancybox/3/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="{{dsRoot}}/www-root/templates/web/libs/default.js?v=3"></script>

<script>
    $("pre").each(function (i, e) {hljs.highlightBlock(e);});

    $(function() {
        let $allVideos = $("iframe[src^='https://player.vimeo.com'], iframe[src^='https://www.youtube.com'], object, embed");
        $allVideos.each(function() {
            $(this)
                .attr('data-aspectRatio', this.height / this.width)
                .removeAttr('height')
                .removeAttr('width');

        });

        $(window).resize(function() {
            $allVideos.each(function() {
                let $el = $(this);
                let newWidth = $el.parent().width();
                $el.width(newWidth).height(newWidth * $el.attr('data-aspectRatio'));
            });

        }).resize();

    });

</script>


<!-- zatím vypnuto kvůli cookies... od roku 2022
{{{googleAnalytics}}}
-->

{{#page.params.recaptcha-v3-site-key}}

<script>
    $('form').show();
    $('form').submit(function(event) {
        event.preventDefault();
        grecaptcha.ready(function() {
            grecaptcha.execute('{{page.params.recaptcha-v3-site-key}}', {action: 'contact_form'}).then(function(token) {
                var recaptchaResponse = document.getElementById('recaptcha-response');
                recaptchaResponse.value = token;
                $('form').unbind('submit').submit();
            });
        });
    });
</script>
{{/page.params.recaptcha-v3-site-key}}



<script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.0/dist/cookieconsent.js"></script>
<script defer src="{{templateRoot}}/cookieconsent-init.js?ver=5"></script>


<script>
// Nálet hero doběhne zhruba za 1,5 s. Pak třídu odebereme, aby se
// animace nespouštěla znovu při přepínání snímků karuselu.
(function () {
	var hero = document.querySelector(".hero-intro");
	if (!hero) return;
	window.setTimeout(function () { hero.classList.remove("hero-intro"); }, 2500);
})();
</script>

<script>
// Bootstrap chce mít na jednom snímku třídu active. Mustache neumí
// poznat první prvek smyčky, tak ji doplníme tady.
(function () {
	var karusel = document.getElementById("heroCarousel");
	if (!karusel) return;

	var inner = karusel.querySelector(".carousel-inner");
	if (!inner) return;

	var snimky = inner.querySelectorAll(".carousel-item");
	if (snimky.length && !inner.querySelector(".carousel-item.active")) {
		snimky[0].classList.add("active");
	}

	// Tečky se skládají tady, protože mustache neumí poznat pořadí prvku
	// ve smyčce a Bootstrap potřebuje u každé data-bs-slide-to s indexem.
	// Při jediném snímku nemá co přepínat, tak se nevykreslí.
	if (snimky.length < 2) return;

	var tecky = document.createElement("div");
	tecky.className = "carousel-indicators hero-dots";

	for (var i = 0; i < snimky.length; i++) {
		var b = document.createElement("button");
		b.type = "button";
		b.setAttribute("data-bs-target", "#heroCarousel");
		b.setAttribute("data-bs-slide-to", String(i));
		b.setAttribute("aria-label", "Snímek " + (i + 1));
		if (i === 0) {
			b.className = "active";
			b.setAttribute("aria-current", "true");
		}
		tecky.appendChild(b);
	}

	karusel.appendChild(tecky);
})();
</script>

<script>
// Po odscrollování lišta ztmavne a dostane stín.
(function () {
	var hdr = document.querySelector("header");
	if (!hdr) return;
	var prepni = function () {
		hdr.classList.toggle("scrolled", window.scrollY > 20);
	};
	window.addEventListener("scroll", prepni, { passive: true });
	prepni();
})();
</script>



<script>
var img = new Image();
src = '/att/2023/08/29/e10.base.templates/ezgif.com-optimize-1ui1vbg.gif';
img.src=src;

t=new Date().getTime();
$("#gif").attr("src", src+'?'+t);
</script>

{{#page.params.almanachPage}}
<script>
	ScrollReveal().reveal('.headline');
const navLinks = document.querySelectorAll('.nav-item')
const menuToggle = document.getElementById('navbarSupportedContent')
const bsCollapse = new bootstrap.Collapse(menuToggle, {
  toggle: false
})
navLinks.forEach((l) => {
  
  	var windowSize = $(window).width();
  	
    if(windowSize <= 991){
			l.addEventListener('click', () => { bsCollapse.toggle() })
    }
})

$(document).ready(function() {

  
$('.show_more').click(function() {
  $(this).toggleClass( "active" );
  if ($(this).hasClass("active")) {
    $(this).text("Skrýt");
  } else {
    $(this).text("Zobrazit víc");
  }
});
  
  
});

</script>
{{/page.params.almanachPage}}

</body>
</html>


