{{!
  Karty aktualit na úvodní stránce.
  Obrázky jsou vyvěšované plakáty na A4, karta proto drží poměr A4
  a text je pod plakátem, ne přes něj.
}}
<div class="news-grid my-4">
  {{#data.persons}}
    <a href="{{url}}" class="news-card">
      <div class="news-card-media">
        {{#datePub}}<span class="news-date-badge">{{datePub}}</span>{{/datePub}}
        <img src="{{image.smallImage}}" alt="{{title}}" loading="lazy">
      </div>
      <div class="news-body">
        <div class="news-tag">Aktualita</div>
        <h3 class="news-title">{{title}}</h3>
      </div>
    </a>
  {{/data.persons}}
</div>
