{{!
  Lokální náhrada za dataView poboček.
  Na produkci si tenhle dataView vykresluje Shipard sám – proto tady
  u něj NENÍ parametr webScript, ten by produkční vykreslení přebil.
  Rozlišení mapa/seznam řeší příznaky showAsMap a showAsList z dev.js.
}}
{{#showAsMap}}
  <div class="location-map">
    <div class="map-grid"></div>
    <div class="map-label">
      <div class="map-label-title">Mapa poboček</div>
      <p>Na produkci sem Shipard vykreslí interaktivní mapu.</p>
    </div>
  </div>
{{/showAsMap}}

{{^showAsMap}}
  <div class="location-list">
    {{#data.places}}
      <a href="{{url}}" class="location-item">
        <div class="location-city">{{name}}</div>
        {{#address}}<div class="location-address">{{address}}</div>{{/address}}
      </a>
    {{/data.places}}
  </div>
{{/showAsMap}}
